html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
p {
    margin-left: 10px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.green:hover {
    background-color: #000;
    /*  Making button bigger on hover  */
    transform: scale(1.5) perspective(1px)
}

.green {
    border-radius: 2px;
    transition: all 1s ease;
    transform: scale(1);
}

li {
    float: left;
    margin-left: 20%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

header {
    background-color: #2e2a2a;
}

main {
    background-color: #fab7b7;
    flex: 1 0 auto;
}

footer {
    background-color: #2e2a2a;
    margin-top: auto;
    height: 50px;
    color: white;
}

a {
    color: white;
}